// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&family=Benne&display=swap');

.banner {
  position:relative;
  top:0px;
  height: 100vh;
  background-size: cover;
  background-image: asset-url("bookrow.jpeg");
  background-size: cover;
  h1 {
    color: #FFFAFA;
    font-family: 'Benne', serif;
    font-size: 70px;
    text-shadow: 1px 1px 2px black, 0 0 25px darkgray, 0 0 5px gray;
  }
}

.bordered {
  border: double;
  margin-top: 8px;
  margin-bottom: 8px;
}
.p-3 h2 {
  font-size: 32px;
}
.p-3 h3{
  font-family: 'Benne', serif;
  font-size: 24px
}

.p-3 p {
  font-family: 'Benne', serif;
}
