// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&family=Benne&display=swap');

.banner {
  position:relative;
  top:0px;
  height: 100vh;
  background-size: cover;
  background-image: asset-url("bookrow");
  background-size: cover;
  h1 {
    color: white;
    font-family: 'Benne', serif;
    font-size: 70px;
    color: white;
    // background: black;
    // text-shadow: 2px 2px 4px #000000;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 1px 1px 2px black, 0 0 25px darkgray, 0 0 5px gray;
    // padding-top: 6px;
    // box-shadow: 2px 2px 2px 1px gold;
  }
}
.btn-info {
  position: relative;
  top: 30px;
}

.call {
  position:relative;
  top: 60px;
}

.background-color {
  background: black;
  color: white;
}

.tex-left {
  font-family: 'BenchNine', sans-serif;
  top-margin: 8px;
}

body {
  background-color: white;
}

.bordered {
  border: double;
  margin-top: 8px;
  margin-bottom: 8px;
}
.p-3 h2 {
  font-size: 32px;
}
.p-3 h3{
  font-family: 'Benne', serif;
  font-size: 24px
}

.p-3 p {
  font-family: 'Benne', serif;
}

.btn-info {
  position: relative;
  top: 10px;
}
