<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>WeChat:</strong>
  <%= @user.we_chat %>
</p>


<%= link_to 'Back', users_path %>
