<div class="banner d-flex justify-content-center align-items-center">
  <div class="inner text-center">
    <h1 class="m-0 p-0 text-center"> Read More. </h1>
    <%= link_to 'Browse All Books', books_path, class: 'btn btn-info' %>
  </div>

</div>
<div>
  <div class="bordered">
    <div class="p-3 text-center">
      <h2>Follow these 5 simple steps:</h2>
      <br>
      <h3>1. Sign-up to gain access to a wide collection of books.</h3>
      <h3>2. Create your profile and share the books you have.</h3>
      <h3>3. Browse books and see what you would like to borrow.</h3>
      <h3>4. Click the borrow button and book a time.</h3>
      <h3>5. Meet the person advertising the book and start your book-journey.</h3>
      <br>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info text-center'%>
    </div>
  </div>
</div>


