<h1>Pages#home</h1>
<h2><%= link_to 'Sign_Up', new_user_registration_path %></h2>
<h2><%= link_to 'Sign_In', new_user_session_path %></h2>
<h2><%= link_to 'All Users', users_path %></h2>
<h2><%= link_to 'All Books', books_path %></h2>


