// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.button-margin {
  margin: 8px;
}

.card {
  margin: 8px;
}

.card-position {
  position: relative;
  top: 30px;
}

.img {
  width: 40px;
  border-radius: 50%;
}

// #C63926

